BeautifulSoup
Django>=1.6.0,<1.7
Pygments
South
amqp
anyjson
billiard
celery>=3.1.8,<3.2.0
cssutils>=0.9.9,<0.10.0
dj-database-url
django-bcrypt
django-celery
django-crispy-forms>=1.4.0,<1.5.0
django-paging>=0.2.5,<0.3.0
django-picklefield>=0.3.0,<0.4.0
django-secure
django-social-auth>=0.7.28,<0.8.0
django-static-compiler
django-templatetag-sugar>=0.1.0
email-reply-parser>=0.2.0,<0.3.0
gevent
greenlet
gunicorn>=19.2.1,<20.0.0
httpagentparser
httplib2
kombu
logan==0.5.10
newrelic
nydus
oauth2
psycopg2
py-bcrypt
pynliner
python-dateutil>=2.0.0,<3.0.0
python-memcached>=1.53,<2.0.0
python-openid
pytz
raven>=5.3.0
redis>=2.7.0,<2.11.0
sentry==6.4.4
sentry-flowdock
sentry-github
setproctitle>=1.1.7,<1.2.0
simplejson>=3.1.0,<3.4.0
six>=1.6.0,<2.0.0
urllib3>=1.7.1,<1.8.0
wsgiref
sentry-hipchat