BeautifulSoup
Django
Pygments
South
amqp
anyjson
billiard
celery
cssutils
dj-database-url
django-bcrypt
django-celery
django-crispy-forms
django-paging
django-picklefield
django-secure
django-social-auth
django-static-compiler
django-templatetag-sugar
email-reply-parser
gevent
greenlet
gunicorn
httpagentparser
httplib2
kombu
logan
newrelic
nydus
oauth2
psycopg2
py-bcrypt
pynliner
python-dateutil
python-memcached
python-openid
pytz
raven
redis
sentry
sentry-flowdock
sentry-github
setproctitle
simplejson
six
urllib3
wsgiref
sentry-hipchat
